body{
    /*background: url("[@{/back.jpg}]");*/
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    flex: 1;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #555;
}


.wrapper {
    width: 1600px;
    margin: 2% auto;
    padding : 10px;
    border-radius : 20px;
    background-color: rgba(0,0,0,0.23);
    box-shadow: 0 0 17px rgb(25, 24, 24);
}

p {
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.wrapper-account{
    width: 450px;
    margin: 20% auto;
    padding: 10px;
    border-radius : 20px;
    background-color: rgba(0,0,0,0.23);
    box-shadow: 0 0 17px rgb(25, 24, 24);
}

.label {
    display: flex;
    margin-top: 20%;
    margin-left: 45%;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.small-container {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    align-items: center;
    background-color: rgba(0,0,0,0.23);
    box-shadow: 0 0 17px rgb(25, 24, 24);
    border-radius : 15px;
}

.img-size {
    width: 200px;
    height: 250px;
}
