<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Main page</title>
</head>
<body th:style="'background:url('+ @{/back.jpg} +');'">
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="/shop/account">Account</a></li>
                <li></li>
            </ul>
        </nav>
    </div>
</body>
</html>