<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Main page</title>
</head>
<body th:style="'background:url('+ @{/back.jpg} +');'">
    <div class="wrapper">
        <nav>
            <ul>
                <li><a href="/shop/home">Home</a></li>
                <li><a href="/shop/products">Products</a></li>
                <li><a href="/shop/account">Account</a></li>
                <li><a href="/shop/credits">Credits</a></li>
                <li>
                    <a href="/shop/cart">
                        <img th:src="@{/cart.png}" width="40px" height="40px">
                    </a></li>
            </ul>
        </nav>
    </div>
</body>
</html>