<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="wrapper-header">
        <nav>
            <ul>
                <li><a class="ref-text" href="/shop/home">Home</a></li>
                <li><a class="ref-text" href="/shop/products">Products</a></li>
                <li><a class="ref-text" href="/shop/account">Account</a></li>
                <li><a class="ref-text" href="/shop/credits">Credits</a></li>
                <li>
                    <a href="/shop/cart">
                        <img th:src="@{/pic/cart.png}" width="40px" height="40px">
                    </a></li>
            </ul>
        </nav>
    </div>
    <div th:each="product : ${products}" class="products-container-with-img">
        <a th:href="@{/shop/products/{id}(id=${product.getId()})}">
            <img class="img-size" th:src="${product.getImagePath()}">
        </a>
        <div class="products-container">
            <p th:text="${product.getName()}"></p>
            <p th:text="${product.getDescription()}"></p>
            <p th:text="${product.getPrice()}"></p>
            <form th:method="POST" th:action="@{/shop/products/add/{id}(id=${product.getId()})}" th:object="${product}">
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" min="1" max="10" id="quantity">
                <input type="submit" value="Add to cart">
            </form>
        </div>
    </div>
</body>
</html>